@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Source+Serif+Pro|Roboto+Slab|PT+Serif+Caption|Open+Sans:300');

body {
	background-color: #ffffff;
	
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab", "PT Serif Caption", Georgia, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: normal;
	text-decoration: none;
	color: rgb(159, 32, 66);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

}

p {
	font-family: 'Noto Serif', sans-serif, 'Source Serif Pro', serif;
    font-size: 21px;
    line-height: 33px;
    color: #191919;
	text-decoration: none;
	
}


p a {
	/* Font & Text */
	font-family: 'Noto Serif', sans-serif, 'Source Serif Pro', serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 24px;
	text-decoration: none;
	color: #2B6DAD;
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;


	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline;
	clear: none;
	z-index: auto;


	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

}


p a:hover{
	text-decoration: underline;
	color: #2B6DAD;
	
}

li {
	font-family: 'Noto Serif', sans-serif, 'Source Serif Pro', serif;
    font-size: 18px;
    line-height: 22px;
    color: #191919;
	text-decoration: none;
	list-style-type: disc;
}


blockquote {
	/* Font & Text */
	font-family: 'Noto Serif', sans-serif, 'Source Serif Pro', serif;
	font-size: 17.5px;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 24px;
	text-decoration: none;
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(240, 240, 240);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(64, 64, 64);
	
	/* Box */

	border-top: 0px none rgb(64, 64, 64);
	border-right: 0px none rgb(64, 64, 64);
	border-bottom: 0px none rgb(64, 64, 64);
	border-left: 5px solid rgb(204, 204, 204);
	margin: 0px 0px 24px;
	padding: 6px 20px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

blockquote a {
	background-attachment: scroll;
	background-color: rgb(240, 240, 240);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(64, 64, 64);
	text-decoration: underline;
	
}

blockquote a:hover {
	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: linear-gradient(rgb(214, 74, 112), rgb(214, 74, 112));
	background-position: 0px 5.4px;
	background-repeat: no-repeat;
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.author {
	font-family: "Open Sans";
	font-weight: 300;
	color: #474544; 
	font-style: normal;
	font: normal #474544;

}

